.sougen{
  background-image: url(../background_img/sougen_nohara.jpg);
  background-size: cover;
}

.himawari{
  background-image: url(../background_img/himawari.jpg);
  background-size: cover;
}

.kaidan{
  background-image: url(../background_img/kaidan.jpg);
  background-size: cover;
}

.kuruma{
  background-image: url(../background_img/kuruma.jpg);
  background-size: cover;
}

.kuwa{
  background-image: url(../background_img/kuwa.jpg);
  background-size: cover;
}

.nasubi{
  background-image: url(../background_img/nasubi.jpg);
  background-size: cover;
}

.sora{
  background-image: url(../background_img/sora.jpg);
  background-size: cover;
}

.tanbo{
  background-image: url(../background_img/tanbo.jpg);
  background-size: cover;
}

.yamamodori{
  background-image: url(../background_img/yamamidori.jpg);
  background-size: cover;
}

.yane{
  background-image: url(../background_img/yane.jpg);
  background-size: cover;
}

.cumulonimbs{
  background: url(../background_img/cumulonimbs.jpg);
  background-size: cover;
}

.leaf_and_sky{
  background: url(../background_img/leaf_and_sky.jpg);
  background-size: cover;
}

.waterflow{
  background: url(../background_img/waterflow.jpg);
  background-size: cover;
}

.black{
  background: url(../background_img/black.png);
  background-size: cover;
}

.white{
  background: url(../background_img/white.png);
  background-size: cover;
}

.city_1{
  background: url(../background_img/city_1.jpg);
  background-size: cover;
}

.city_2{
  background: url(../background_img/city_2.jpg);
  background-size: cover;
}

.city_3{
  background: url(../background_img/city_3.jpg);
  background-size: cover;
}

.dark_bridge{
  background: url(../background_img/dark_bridge.jpg);
  background-size: cover;
}

.cave{
  background: url(../background_img/cave.jpg);
  background-size: cover;
}

.classroom1{
  background: url(../background_img/classroom1.jpg);
  background-size: cover;
}

.classroom2{
  background: url(../background_img/classroom2.jpg);
  background-size: cover;
}

.classroom3{
  background: url(../background_img/classroom3.jpg);
  background-size: cover;
}

.library{
  background: url(../background_img/library.jpg);
  background-size: cover;
}

.openbook{
  background: url(../background_img/openbook.jpg);
  background-size: cover;
}

.fortune_telling{
  background: url(../background_img/fortune_telling.jpg);
  background-size: cover;
}

.real_hero_room{
  background: url(../background_img/real_hero_room.jpg);
  background-size: cover;
}

.real_living_room{
  background: url(../background_img/real_living_room.jpg);
  background-size: cover;
}

.temple_entrance{
  background: url(../background_img/temple_entrance.jpg);
  background-size: cover;
}

.throne{
  background: url(../background_img/throne.jpg);
  background-size: cover;
}

.royal_palace{
  background: url(../background_img/royal_palace.jpg);
  background-size: cover;
}

.knights{
  background: url(../background_img/knights.jpg);
  background-size: cover;
}

.training_ground{
  background: url(../background_img/training_ground.jpg);
  background-size: cover;
}

.tunnel{
  background: url(../background_img/tunnel.jpg);
  background-size: cover;
}

.real_nohara{
  background: url(../background_img/real_nohara.jpg);
  background-size: cover;
}

.archive{
  background: url(../background_img/archive.jpg);
  background-size: cover;
}

.bushes1{
  background: url(../background_img/bushes.jpg);
  background-size: cover;
}

.bushes2{
  background: url(../background_img/bushes2.jpg);
  background-size: cover;
}

.principalroom1{
  background: url(../background_img/principalroom.jpg);
  background-size: cover;
}

.principalroom2{
  background: url(../background_img/principalroom2.jpg);
  background-size: cover;
}

.wall1{
  background: url(../background_img/wall1.jpg);
  background-size: cover;
}

.wall2{
  background: url(../background_img/wall2.jpg);
  background-size: cover;
}

.wall3{
  background: url(../background_img/wall3.jpg);
  background-size: cover;
}

.machinami{
  background: url(../background_img/machinami.jpg);
  background-size: cover;
}

.rouka{
  background: url(../background_img/rouka.jpg);
  background-size: cover;
}

.izumi{
  background: url(../background_img/izumi.jpg);
  background-size: cover;
}

.sea1{
  background: url(../background_img/sea1.jpg);
  background-size: cover;
}

.sea2{
  background: url(../background_img/sea2.jpg);
  background-size: cover;
}

.sea3{
  background: url(../background_img/sea3.jpg);
  background-size: cover;
}