body{
  margin: auto;
  /* margin-left: 0;
  margin-right: 0; */
  /* margin: 0; */
  /* width: 500px; */
  /* width: 80%; */
  /* height: 380px;
  margin: auto ; */
}




@media screen and (max-width:700px){
  main{
    width: 500px;
    height: 380px;
    margin: auto;
  }
}
@media screen and (min-width:700px){
  main{
    width: 58%;
    margin: auto;
  }
}

input[type="button"]:focus{
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

#screen_frame{
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

#background_frame{
  /* background: #000; */
  position: relative;
  width: 100%;
  height: 100%;
}

#character_frame{
  display: flex;
  width: 100%;
  height: 59%;
}

#character_frame div{
  margin: auto;
  margin-top: 30px;
  width: 30%;
  height: 147%;
  z-index: 0;
  /* transition: 2s; */
}

#character_frame div img{
  z-index: 0;
  width: 100%;
}
#title_frame{
  /* background: #000; */
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

#title_text{
  height: 60%;
  position: relative;
  /* display: inline; */
}

#title_text p{
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 2rem;
  text-shadow: 1px 2px 3px #808080;
  background: rgba(0, 0, 0, 0.692);
  font-size: 1.2rem;
}

#title_btn{
  height: 40%;
  text-align: center;
  position: relative;
}
#title_btn .btn{
  width: 30%;
  height: 20%;
  margin: auto;
}
#title_btn .btn input{
  background: rgba(0, 0, 0, 0.692);
}
  #title_btn_box{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 75%;
  height: 3.2rem;
}

#title_btn_box .btn{
  /* display: inline; */
  margin: auto;
  width: 30%;
  height: 100%;
}

#title_btn .btn input{
  width: 100%;
  margin: auto;
  cursor: pointer;
  font-size: 1rem;
}

#option_area{
  background: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  z-index: 2;
}

.option:hover{
  background: rgba(0, 0, 0, 0.692);

}

#option_area .option{
  color: #fff;
  border: #fff 1px solid;
  border-radius: 25px;
  margin: 5px auto;
  width: 90%;
  height: 23%;
  cursor: pointer;
}

#option_area .option .option_text{
  margin: 5px;
}

.float_frame{
  background: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  z-index: 2;
}

.float_frame header{
  display: flex;
  height: 15%;
}
.float_frame header p{
  width: 60%;
  color: #fff;
  text-align: center;
  margin: auto;
}
.float_frame header .btn{
  width: 30%;
  margin: auto;
}
.float_frame #chapter_option{
  height: 80%;
  overflow-y: auto;
}

.float_frame #chapter_option .option{
  color: #fff;
  border: #fff 1px solid;
  border-radius: 25px;
  margin: 5px auto;
  width: 90%;
  height: 23%;
  cursor: pointer;
}

#flash_frame{
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.none{
  display: none !important;
}

#user_frame{
  display: flex;
  background: rgba(0, 0, 0, 0.692);
  z-index: 1;
  position: absolute;
  top: 56.5%;
  left: 4%;
  border-radius: 25px;
  border: 1px solid #fff;
  width: 90%;
  height: 42%;
  padding: 0 5px;
}

#user_frame #text_frame{
  /* width: 350px; */
  width: 77%;
  height: 100%;
  z-index: 2;
  color: white;
  margin: 0 auto;
}
#character_name{
  margin: 3px 0;
  height: 11%;
}
#text_area{
  overflow-y: auto;
  height: 85%;
}

#user_frame #controller_frame{
  width: 23%;
  z-index: 2;
  margin: 5px auto;

}

#controller_frame .btn{
  height: 20%;
}

.btn{
  text-align: center;
}

.btn input{
  width: 100%;
  height: 80%;
  margin: 3px auto;
  border-radius: 25px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.1s;
  cursor: pointer;
  font-size: 70%;

}

.btn input:focus{
  outline: none;
}

.btn input:active{
  background: rgba(0, 0, 0, 0.692);
}

@media screen and (max-width:762px){
  /* main{
    transform: scale(0.8, 0.8);
    transform: translate(0, 0);
  } */
  /* #screen_frame{
    width: auto;
  } */

/* #user_frame{
  width: auto;
  left: auto;
  } */
}